server:
    port: 8080

spring:
    datasource:
        #default-catalog: library
        #jndi-name: jdbc/Library
        url: jdbc:mysql://localhost:3306/library
        password: rootroot
        username: root
    jpa:
        database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
        properties:
            hibernate:
                current_session_context_class: org.springframework.orm.hibernate5.SpringSessionContext
                dialect: org.hibernate.dialect.MySQL5Dialect
                format_sql: true
        show-sql: true

logging:
    file:
        name: logs/application.log
    pattern:
        file: "%d{HH:mm:ss} %-5p [%c] - %m%n"
    level:
        ROOT: info
        org.springframework: info
        javax.faces: warn
        org.omnifaces: warn
        org.springframework.security: warn
        org.hibernate: info
        org.hibernate.type.descriptor.sql: warn
